{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block entity_form %}
  <div class="row">
    <div class="col-sm-6">
      {% if entity.provider == "youtube" %}
        <div style="width: 100%; padding-top: 56%; position: relative;">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ entity.media }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="position: absolute; top:0px;"></iframe>
        </div>
        <div class="form-group  field-text">
          <label class="control-label" for="media_url">Lien original</label>
          <input type="text" id="media_url" name="media_url" class="form-control" value="https://www.youtube.com/watch?v={{ entity.media }}" disabled="disabled">
        </div>
      {% elseif entity.provider == "vimeo" %}
        <div style="width: 100%; padding-top: 56%; position: relative;">
          <iframe width="100%" height="100%" src="https://player.vimeo.com{{ entity.media }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="position: absolute; top:0px;"></iframe>
        </div>
        <div class="form-group  field-text">
          <label class="control-label" for="media_url">Lien original</label>
          <input type="text" id="media_url" name="media_url" class="form-control" value="https://vimeo.com{{ entity.media }}" disabled="disabled">
        </div>
      {% elseif entity.provider == "pdf" %}
        <div style="width: 100%; padding-top: 56%; position: relative;">
          <iframe width="100%" height="100%" src="{{ entity.directory ~ entity.media }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="position: absolute; top:0px;"></iframe>
        </div>
        <div class="form-group  field-text">
          <label class="control-label" for="media_url">Lien original</label>
          <input type="text" id="media_url" name="media_url" class="form-control" value="{{ entity.directory ~ entity.media }}" disabled="disabled">
        </div>
      {% elseif entity.provider == "file" or entity.provider == "bigFile" %}
        <div style="width: 100%; text-align: center; margin: 20px 0;">
          {% if entity.extension == 'mp3' %}
            <audio src="{{ entity.directory ~ entity.media }}" controls></audio>
          {% endif %}
          <div>
            <a href="{{ entity.directory ~ entity.media }}">Lien vers le fichier.</a>
          </div>
        </div>
        <div class="form-group  field-text">
          <label class="control-label" for="media_url">Lien original</label>
          <input type="text" id="media_url" name="media_url" class="form-control" value="{{ entity.directory ~ entity.media }}" disabled="disabled">
        </div>
        {% if entity.provider == "bigFile" %}
          <div class="form-group  field-text">
            <label class="control-label" for="media_url_partage">Lien à utiliser</label>
            <input type="text" id="media_url_partage" name="media_url_partage" class="form-control" value="/media/file/{{ entity.id }}/{{ entity.originalFilename }}" disabled="disabled">
          </div>
        {% endif %}
      {% else %}
        <img src="{{ entity.directory ~ entity.media }}" width="100%" />
        <div class="form-group  field-text">
          <label class="control-label" for="media_url">Lien original</label>
          <input type="text" id="media_url" name="media_url" class="form-control" value="{{ entity.directory ~ entity.media }}" disabled="disabled">
        </div>
      {% endif %}
    </div>
    <div class="col-sm-6">
      {{ form_start(form) }}
          {{ form_row(form.name) }}
          {{ form_row(form.author, {'required': false}) }}
          {{ form_row(form.description, {'required': false, 'attr': {'rows': '4', 'cols': '50', 'maxlength': '511', 'style': 'min-height: auto;'}}) }}
          {{ form_row(form.copyright, {'required': false }) }}
          <div style="display: none;">
            {{ form_row(form.mediaFile) }}
          </div>

          <div class="form-group  field-text">
            <label class="control-label" for="lastUpdate">Dernière mise à jour</label>
            <input type="text" id="lastUpdate" name="lastUpdate" class="form-control" value="{{ entity.updatedAt|date('Y-m-d H:i:s') }}" disabled="disabled">
          </div>
          {% if entity.provider != "file" and entity.provider != "bigFile" and entity.provider != "pdf" %}
            {% for name,format in image_formats %}
            <div class="form-group  field-text">
              <label class="control-label" for="thumb_{{ name }}">Thumb {{ name }}</label>
              <input type="text" id="thumb_{{ name }}" name="thumb_{{ name }}" class="form-control" value="{{ entity.directory ~ 'thumb_default_' ~ entity.id ~ '_' ~ name ~ '.' ~ entity.extension }}" disabled="disabled">
            </div>
            {% endfor %}
            <div style="display:none;">{{ form_row(form.originalFilename) }}</div>
          {% else %}
            {{ form_row(form.originalFilename) }}
          {% endif %}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock entity_form %}
