<div style="position: relative; height: 200px; overflow: hidden; border-radius: 5px; border: 1px solid #b1b1b1;">
  <img src="{{ app.root.directory_images ~ item.name }}" class="img-responsive" width="100%" style="position: relative;" />
  <div class="" style="position: absolute; bottom: 0px; background-color: white; width: 100%; color: #0091ff; padding: 4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
    {{ item.name }}
  </div>
</div>
