{% extends '@EasyAdmin/default/list.html.twig' %}

{% block table_body %}
  <tr>
    <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
      <div class="row" style="margin: 0px;">
      {% for item in paginator.currentPageResults %}
        <div class="col-sm-3">
          {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
          {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
              {% set metadata = fields.mediaFile %}
              {% set field = 'mediaFile' %}

              {% set action = _list_item_actions.edit %}
              {% set action_href = path('easyadmin', _request_parameters|merge({ action: action.name, id: _item_id })) %}

                  {% set isSortingField = metadata.property == app.request.get('sortField') %}
                  {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}
                  <a class="{{ action.css_class|default('') }}" title="{{ action.title|default('') is empty ? '' : action.title|trans(_trans_parameters, _entity_config.translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
                    {% set extension = item.media|split('.') %}
                    <div style="position: relative; height: 200px; overflow: hidden; border-radius: 5px; border: 1px solid #b1b1b1; {% if item.provider != 'file' and item.provider != 'pdf' %}background: url('{{ item.directory ~ 'thumb_default_' ~ item.id ~ '_small.' ~ item.extension }}'); background-size: cover;{% elseif item.provider == 'pdf' %}background: url(/bundles/tonyschmittmedia/images/pdf.png); background-size: 80%; background-position: center; background-repeat: no-repeat;{% endif %}">
                      <div class="" style="position: absolute; bottom: 0px; background-color: white; width: 100%; color: #0091ff; padding: 4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        {{ item.name }}
                      </div>
                      <div class="" style="position: absolute; top: 10px; right: 10px; background-color: #00b8ff; color: white; padding: 3px; border-radius: 7px;">
                        {{ item.provider }}
                      </div>
                      {% if item.hit %}
                        <div style="position: absolute; top: 10px; left: 10px;">
                          {{ item.hit }} hits
                        </div>
                      {% endif %}
                    </div>
                  </a>

              <!-- {% if _list_item_actions|length > 0 %}
                  {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                  <td data-label="{{ _column_label }}" class="actions">
                  {% block item_actions %}
                      {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                          actions: _list_item_actions,
                          request_parameters: _request_parameters,
                          translation_domain: _entity_config.translation_domain,
                          trans_parameters: _trans_parameters,
                          item_id: _item_id
                      }, with_context = false) }}
                  {% endblock item_actions %}
                  </td>
              {% endif %} -->
        </div>
      {% else %}
        {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
      {% endfor %}
      </div>
    </td>
{% endblock table_body %}
