{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
<div class="row">
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=image" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-picture-o fa-2x"></i><br>Image
      </p>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=pdf" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-file-pdf-o fa-2x"></i><br>Fichier PDF
      </p>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=file" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-file-o fa-2x"></i><br>Fichier
      </p>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=youtube" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-youtube fa-2x"></i><br>Youtube
      </p>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=vimeo" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-vimeo fa-2x"></i><br>Vimeo
      </p>
    </a>
  </div>
  <div class="col-xs-3 col-sm-3 text-center">
    <a href="/admin/?action=new&entity=Media&provider=bigFile" style="text-decoration: none; color: black;">
      <p style="margin: 10px; padding: 10px; border-radius: 20px; background-color: white; border: 1px solid black;">
        <i class="fa fa-file fa-2x"></i><br>Gros Fichier
      </p>
    </a>
  </div>
</div>
<a href="/admin/?entity=Media&action=list">Retour à la liste des medias</a>
{% endblock %}
