<div class="">
  <p>Gallery "{{ gallery['name']}}" ({{ gallery['medias']|length }}) :</p>
  <div style="display: inline-block; width: 100%;">
    {% if gallery['medias']|length > 0 %}
      {% for media in gallery['medias'] %}
        <div style="width: 300px; display: inline-block;">
          {% if media['provider'] == 'youtube' or media['provider'] == 'vimeo' %}
            <iframe src="{{ media['media']['embed'] }}" width="100%" height="200px"></iframe>
          {% elseif media['provider'] == 'image' %}
            <img src="{{ media['media']['link'] }}" alt="" width="100%">
          {% else %}
            <a href="{{ media['media']['link'] }}"><button>{{ media['name'] }}</button></a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
