<div>
  <h2>Liste des albums</h2>
  {% for gallery in galleries %}
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid" uk-grid="">
      <div class="uk-text-center uk-first-column" style="margin-bottom: 20px">
        <a href="{{ app.request.requestUri ~ '/' ~ gallery.slug }}" class="uk-button uk-button-primary">
          {{ gallery.name }}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
